[build]
command = "npm run build"
functions = "netlify/functions"
publish = "public"

[functions]
node_bundler = "esbuild"
external_node_modules = ["mongoose", "dotenv", "express", "nodemailer"]

[[redirects]]
from = "/*"
to = "/.netlify/functions/server"
status = 200
force = false
